* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --white: #ffffff;
  --black: #000000;
  --grey: #dde3e9;
  --light-grey: #f6f6f6;
  --light-grey2: #e7e7e7;
  --light-grey3: #ced1d5;
  --text-blue: #636e8c;
  --text-blue2: #717a93;
}
