.modal {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal.show {
  opacity: 1;
}

// @media (max-width: 768px) {
//   .image-grid {
//     grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
//   }
// }
